<div class="panel panel-default">
  <div class="panel-heading dashboard-panel">
    <h3 class="panel-title">
      <%= t('views.dashboard.per_customer.invoiced') %>
      <div class="pull-right">
        <ul class="nav nav-tabs dashboard-tabs">
          <li class="active">
            <a data-toggle="tab" href="#cust-num">
              <i class="icon-table"></i>
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#cust-chart">
              <i class="icon-bar-chart"></i>
            </a>
          </li>
        </ul>
      </div>
    </h3>
  </div>
  <div class="panel-body">
    <div class="tab-content">
      <div class="tab-pane fade in active" id="cust-num">
        <table class="table">
          <% @perCustomer.each do |c| %>
            <tr>
              <td>
                <%= c['customer'] %>
              </td>
              <td>
                <span class="pull-right">
                  <%= number_to_currency c['taxable_income'] %>
                </span>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="tab-pane fade" id="cust-chart">
        <img src="//charts.brace.io/bar.svg?_show_legend=false&_height=200px&_width=500px&amount=<%= @per_customer_chart %>"/>
      </div>
    </div>
  </div>
</div>
