<div class="row">
  <div class="col-lg-12">
    <h2>
      <%= "Billing Detail #{@invoice.number}" %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-9">
    <%= render 'form' %>
  </div>
  <div class="col-lg-3">
    <%= render 'info_panel' %>
  </div>
</div>
